<h1>Your Field Trips</h1>
<%= link_to 'New Trip', new_trip_path, :class => 'btn' %>

<div class="trips">
  
  <% if @trips.any? %>
  <% @trips.each do |trip| %>
  <div class="trip">
    <h3><%= link_to trip.place, trip %></h3>
    <p>
      <%= trip.start_date.strftime("%A, %B %d") %>
      <%= trip.start_time.strftime("%l:%M") %>
      to
      <%= trip.end_time.strftime("%l:%M") %><br />
      <%= trip.description %><br />
    <%= link_to 'Edit', edit_trip_path(trip) %>
    </p>
  </div>
  <% end %>
<% end %>
</div>

