<p id="notice"><%= notice %></p>

<p>
  <b>Where:</b>
  <%= @trip.place %>
</p>

<p>
  <b>When:</b>
  <%= @trip.start_date.strftime("%A, %B %d") %>
  from
  <%= @trip.start_time.strftime("%l:%M") %>
  to
  <%= @trip.end_time.strftime("%l:%M") %>
</p>

<p>
  <b>Description:</b>
  <%= @trip.description %>
</p>

<%= link_to 'Edit', edit_trip_path(@trip) %>
