<p id="notice"><%= notice %></p>

<p>
  <b>Where:</b>
  <%= @trip.place %>
</p>

<p>
  <b>When:</b>
  <%= @trip.start_date.strftime("%A, %B %d") %>
  from
  <%= @trip.start_time.strftime("%l:%M") %>
  to
  <%= @trip.end_time.strftime("%l:%M") %>
</p>

<p>
  <b>Description:</b>
  <%= @trip.description %>
</p>
<% if @trip.classrooms.any? %>
  <p>
    <b>Classes Going:</b>
    <% @trip.classrooms.each do |classroom| %>
      <p><%= classroom.classroom_name %></p>
    <% end %> 
  </p>

<% else %>
  <h2>Who's Going?</h2>
  <%= render 'invitation_form' %>
<% end %>


<%= link_to 'Edit trip', edit_trip_path(@trip) %>

<br>
<% @students.each do |student| %>
  <%= student.student_last_name %>
<% end %>