<% if user_signed_in? && if @trips.any? %>
<%= link_to 'New Trip', new_trip_path, :class => 'btn' %>
<div class="trips">
  <h2>Upcoming trips:</h2>
  <% @trips.each do |trip| %>
  <div class="trip">
    <h3><%= link_to trip.place, trip %></h3>
    <p>
    <%= trip.start_date.strftime("%A, %B %d") %>
    <%= trip.start_time.strftime("%l:%M") %>
    to
    <%= trip.end_time.strftime("%l:%M") %><br />
    <%= trip.description %>
    </p>
  </div>
<% end %>
</div>
<h2>My Classes:</h2>
<% @classrooms.each do |classroom| %>
  <h3><%= link_to classroom.classroom_name, classroom %></h3>
<% end %>

<% else %>
<h2>Create your first field trip:</h2>
<br />
<%= render 'trips/form' %>
<br />
<h4><%= link_to 'Or add a classroom first', new_classroom_path %></h2>
<% end %>
<% end %>
