<%= form_for(@permission) do |f| %>
  <% if @permission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@permission.errors.count, "error") %> prohibited this permission from being saved:</h2>

      <ul>
      <% @permission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :parent1_email %>
    <%= f.text_field :parent1_email %>
  </div>
  <div class="field">
    <%= f.label :parent2_email %>
    <%= f.text_field :parent2_email %>
  </div>
  <div class="actions">
    <%= f.submit 'Send Permission Slip', :class => 'btn' %>
  </div>
<% end %>
