<h1>Listing permissions</h1>

<table>
  <tr>
    <th>User</th>
    <th>Parent1 email</th>
    <th>Parent2 email</th>
    <th>Token</th>
    <th>Sent at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @permissions.each do |permission| %>
  <tr>
    <td><%= permission.user_id %></td>
    <td><%= permission.parent1_email %></td>
    <td><%= permission.parent2_email %></td>
    <td><%= permission.token %></td>
    <td><%= permission.sent_at %></td>
    <td><%= link_to 'Show', permission %></td>
    <td><%= link_to 'Edit', edit_permission_path(permission) %></td>
    <td><%= link_to 'Destroy', permission, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Permission', new_permission_path %>
